@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 1.43;
  color: #484848;
  background-color: #fff;

  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Navbar {
  font-family: sans-serif;
  text-align: center;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.ul {
  display: flex;
  align-items: center;
  list-style: none;
  max-width: 100%;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.ul::-webkit-scrollbar {
  background: transparent;
  /* make scrollbar transparent */
  -webkit-appearance: none;
  width: 0;
  height: 0;
}

.ul div {

  padding: 8px;
  margin: 0 4px;
  white-space: nowrap;
}